.terms-section {
  padding: 10rem 0 0;
  margin-bottom: -20rem;
  position: relative;
  z-index: 1;
  background-image: url('../images/terms-bg.webp');
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;

  @include media(">=desktop") {
    padding: 25rem 0 0;
    margin-bottom: -25rem;
  }

  .section-title {
    margin-bottom: 7rem;
  }

  .title-wrap {
    margin-bottom: 15rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.account-tile {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgb(126, 76, 32), rgb(248, 237, 201) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
}

.account-desc {
  font-size: 3.5rem;
  color: rgb(166, 121, 81);
}

.account-wrap {
  display: flex;
  flex-wrap: wrap;
}

.account-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
  width: 100%;

  @include media(">=desktop") {
    width: 50%;
  }

  &__title-wrap {
    margin-bottom: 2rem;
    min-height: 5.6rem;
  }

  &__title {
    color: $white;
    font-size: 4.3rem;
    font-weight: 400;
    padding-left: 4rem;
    position: relative;


    &:before {
      position: absolute;
      top: 50%;
      left: -5rem;
      transform: translateY(-50%);
      content: '';
      width: 12rem;
      height: 12rem;
      background-image: url('../images/point.webp');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  &__desc {
    padding-left: 6rem;
    font-size: 3.6rem;
    color: rgb(166, 121, 81);
  }
}

.account-content {
  padding-bottom: 10rem;
  border-bottom: 1px solid rgb(166, 121, 81);
  margin-bottom: 5rem;
}

.concept-wrap {
  margin-top: 3rem;
}

.concept {
  margin-bottom: 14rem;

  &:nth-child(n + 2) {
    flex-direction: row-reverse;
  }

  @include media(">=desktop") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    margin-bottom: 4rem;

    @include media(">=desktop") {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__img {
    width: 69rem;
    height: 42rem;
    flex: none;
    border-radius: 4rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.concept-info {
  max-width: 115rem;
  width: 100%;
  text-align: center;
  color: $white;
  font-size: 4.3rem;
  display: block;
  margin-bottom: 5rem;
}