<div class="overlay js-overlay"></div>
<div class="popup video-popup js-popup" data-popup="video-popup">
  <button type="button" class="popup__close js-popup-close"></button>
  <div class="popup__wrap">
    <div class="popup__video js-video intro">
      <video id="player" playsinline controls>
        <source src="/assets/video/placeholder.mp4" />
        <!-- <source src="/path/to/video.webm" type="video/webm" /> -->
      </video>
    </div>
  </div>
</div>

<div class="popup new-popup js-popup" data-popup="new-popup">
  <button type="button" class="popup__close js-popup-close"></button>
  <div class="popup__wrap">
    <div class="popup__content">
      <form action="#">
        <div class="btn primary arrow">
          <input class="btn-text" type="email" placeholder="email">
          <button type="submit">

          </button>
        </div>
      </form>
    </div>
  </div>
</div>