<div class="popup registration-popup js-popup" data-popup="registration-popup">
    <button type="button" class="popup__close js-popup-close"></button>
    <div class="popup__wrap">
        <img class="wings-img" src="/assets/images/modal_register_wings.webp" />
    </div>
    <div class="popup__content">
        <form action="#">
            <div class="btn primary_no-arrow email-input">
                <input class="btn-text" type="email" placeholder="Your email" />
            </div>
            <button type="button" class="btn primary_no-arrow">
                <span>Subscribe</span>
            </button>
        </form>
    </div>
</div>
