<div class="overlay js-overlay"></div>
<div class="popup video-popup js-popup" data-popup="video-popup">
    <button type="button" class="popup__close js-popup-close"></button>
    <div class="popup__wrap">
        <div class="popup__video js-video intro">
            <!--<video id="player" playsinline controls>
                <source src="/assets/video/placeholder.mp4" />
                &lt;!&ndash; <source src="/path/to/video.webm" type="video/webm" /> &ndash;&gt;
            </video>-->
            <iframe
                width="627"
                height="352"
                src="https://www.youtube.com/embed/YTnDK8Am93w?&autoplay=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
