@font-face {
  font-family: 'STSong';
  src: url('../fonts/subset-STSong.woff2') format('woff2'),
    url('../fonts/subset-STSong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Romely Med';
  src: url('../fonts/Romely-Medium.woff2') format('woff2'),
    url('../fonts/Romely-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}