<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="burger js-burger-open">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="index.html" class="logo">
        <img src="assets/images/logo.webp" alt="">
      </a>
      <nav class="nav js-nav" id="nav">
        <div class="empty"></div>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#game" class="nav__link js-link-to">Home</a>
          </li>
          <li class="nav__item">
            <a href="#faq" class="nav__link js-link-to">Expantum NFT</a>
          </li>
          <li class="nav__item">
            <a href="#release" class="nav__link js-link-to">Documentation</a>
          </li>
        </ul>
        <ul class="soc">
          <li class="soc__item">
            <a href="" class="soc__link">
              <span class="soc__icon">
                @@include('../svg-icon/medium.html')
              </span>
            </a>
          </li>
          <li class="soc__item">
            <a href="" class="soc__link">
              <span class="soc__icon">
                @@include('../svg-icon/discord.html')
              </span>
            </a>
          </li>
          <li class="soc__item">
            <a href="" class="soc__link">
              <span class="soc__icon">
                @@include('../svg-icon/twitter.html')
              </span>
            </a>
          </li>
          <li class="soc__item">
            <a href="" class="soc__link">
              <span class="soc__icon">
                @@include('../svg-icon/linkedin.html')
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>