<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="burger js-burger-open">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="/" class="logo">
                <img src="/assets/images/logo.webp" alt="" />
            </a>
            <nav class="nav js-nav">
                <div class="empty"></div>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="https://nft.expantum.com" class="nav__link">Expantum NFT</a>
                    </li>
                    <li class="nav__item">
                        <a href="https://docs.expantum.com" class="nav__link">Documentation</a>
                    </li>
                </ul>
                <ul class="soc">
                    <li class="soc__item">
                        <a href="https://medium.com/@expantum" target="_blank" class="soc__link">
                            <span class="soc__icon">@@include('../svg-icon/medium.html')</span>
                        </a>
                    </li>
                    <li class="soc__item">
                        <a href="https://discord.gg/expantum" target="_blank" class="soc__link">
                            <span class="soc__icon">@@include('../svg-icon/discord.html')</span>
                        </a>
                    </li>
                    <li class="soc__item">
                        <a href="https://twitter.com/expantum" target="_blank" class="soc__link">
                            <span class="soc__icon">@@include('../svg-icon/twitter.html')</span>
                        </a>
                    </li>
                    <!--<li class="soc__item">
                        <a href="" class="soc__link">
                            <span class="soc__icon">
                                @@include('../svg-icon/linkedin.html')
                            </span>
                        </a>
                    </li>-->
                </ul>
            </nav>
        </div>
    </div>
</header>
